.header-social-buttons {
    text-align: right;
    .btn-social {
        padding: 8px 12px;
        color: #fff;
        background-color: #393a3f;
        border-radius: 50%;
        height: 35px;
        width: 35px;
        overflow: hidden;
        display: inline-block;
    }
}